{% extends 'base.html' %} <br />
{% load static %} <br />
{% block content %}

<div class="container mt-5">
  <!--Search button-->

  <div class="row mb-3">
    <div class="col-md-12">
      <div class="card card-sm">
        <div class="card-body row no-gutters align-items-center">
          <div class="col">
            <form class="row" method="GET" action="#">
              <div class="col">
                <input
                  type="search"
                  name="q"
                  class="form-control form-control-borderless"
                  placeholder="Search"
                />
              </div>
              <div class="col-auto">
                <button class="btn btn-success" type="submit">Search</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--End Search button-->
  <div class="row">
    {% for product in products %}
    <div class="col-md-3">
      <div class="card mb-4">
        <img
          src="{{ product.image_url.url }}"
          alt="{{ product.title }}"
          class="card-img-top img-fluid"
          style="width: 250px; height: 170px; object-fit: fill"
        />
        <div class="card-body">
          <h4 class="card-title">{{ product.title }}</h4>
          <!--<p class="card-text">Category: {{ product.category }}</p>-->

          <!---  <p class="card-text">{{ product.description }}</p>-->
          {% if product.discount_price %}
          <p class="card-text">
            <span class="text-muted"
              ><del>Original_price: {{ product.price }}</del></span
            >
            <strong>Discount_price: {{ product.discount_price }}</strong>
          </p>
          {% else %}
          <p class="card-text"><strong>{{ product.price }}</strong></p>
          {% endif %}
        </div>

        <div class="card-footer">
          <a
            href="{% url 'product_detail' product.id %}"
            class="btn btn-warning btn-sm"
            >View</a
          >

          <button
            id="{{ product.id }}"
            class="btn btn-warning btn-sm add_to_cart"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>

  <!--Pagination-->
  {% include 'paginator.html' %}
</div>

{% endblock %}
